.contact {
    padding: 2%;
    padding-bottom: 3%;
    &__title {
        color: lighten($black, 50%);
        font-size: $header;
    }
    &__image {
        width: 63%;
        float: right;
    }
    &__container {
        margin-top: 1em;
    }
    &__button {
        background-color: lighten($black, 30%);
        padding: 10px;
        text-decoration: none;
        color: $orange;
        margin-top: 1em;
        &:hover {
            background-color: lighten($black, 10%);
            text-decoration: underline;
        }
    }
}
