.contact {
    height: 55vh;
    padding-left: 2%;
    padding-right: 2%;
    &__title {
        color: lighten($black, 50%);;
    }
    &__container {
        margin-top: 1em;
    }
    &__button {
        background-color: lighten($black, 30%);
        padding: 10px;
        text-decoration: none;
        color: $orange;
        margin-top: 1em;
        &:hover {
            background-color: lighten($black, 10%);
        }
    }
}
