.skills {
    background-color: lighten($black, 20%);
    //background: -webkit-linear-gradient(top, lighten($black, 20%), #ffffff);
    padding-left: 2%;
    padding-right: 2%;
    min-height: 35vh;
    &__container {
        h1 {
            color: $orange;
            font-size: 3rem;
            margin-bottom: 0;
            @include desktop {
                font-size: 2rem;
            };
        }
        h4 {
            color: lighten($black, 90%);
        }
        &__skill {
            color: darken($white, 30%);
            h4 {
                font-size: 2.3rem;
                @include desktop {
                    font-size: 1.5rem;
                };
            }
        }

        .skills-list {
            max-width: 90%;
            padding-left: 1%;

            li {
                text-decoration: none;
                list-style: none;
                margin-bottom: 1rem;
                font-size: 2rem;
                @include desktop {
                    font-size: 1rem;
                };
            }
        }
    }
}
