.skills {
    background-color: lighten($black, 20%);
    //background: -webkit-linear-gradient(top, lighten($black, 20%), #ffffff);
    padding-left: 2%;
    padding-right: 2%;
    height: 50vh;
    &__container {
        h1 {
            color: $orange;
        }
        h4 {
            color: lighten($black, 90%);
        }
        &__skill {
            color: darken($white, 30%);
        }

        .skills-list {
            max-width: 90%;

            li {
                text-decoration: none;
                list-style: none;
                margin-bottom: 1rem;
                font-size: 20px;
            }
        }
    }
}
