.header {
    background-color: $gray;
    background-image: url('./img/moss.jpg'); //image path must be relative to _main.scss, due to how sass-loader handles urls
    background-size: cover;
    background-position: center;
    padding: 1%;

    &__container {
        padding: 2%;
    }
    &__copy__container {
        // margin-top: 4rem;
        // @include desktop {
        //     margin-top: auto;
        // };
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__title {
        h1 {
            color: $orange;
            margin: 0;
            font-size: 5rem;
        }
    }
    &__bodycopy {
        &__title {
            color: lighten($white, 10%);
            font-size: 2rem;
            margin-bottom: 15px;
        }
    }
    &__button {
        text-align: center;
        font-size: 4rem;
        @include desktop {
            font-size: 1.5rem;
        };
        a {
            border-style: solid;
            border-color: $white;
            padding: 7px;
            border-radius: 3px;
            text-decoration: none;
            color: $white;
            &:hover {
                color: $orange;
                border-color: $orange;
            }
        }
    }
}
