.header {
    background-color: $gray;
    background-image: url(../img/header.jpg);
    background-size: cover;
    padding: 1%;
    height: 85vh;

    &__container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    &__title {
        position: relative;
        top: 50%;
        h1 {
            color: $orange;
            margin: 0;
            font-size: 5rem;
        }
    }
    &__bodycopy {
        position: relative;
        top: 50%;
        &__title {
            color: lighten($white, 10%);
            font-size: 2rem;
        }
    }
    &__button {
        text-align: center;
        font-size: 1.5rem;
        a {
            border-style: solid;
            border-color: $white;
            padding: 7px;
            border-radius: 3px;
            text-decoration: none;
            color: $white;
            &:hover {
                color: $orange;
                text-decoration: underline;
                border-color: $orange;
            }
        }
    }
}
