@import "../../_vars.scss";

.header {
    background-color: $gray;
    padding: 1%;
    height: 75vh;
    &__title {
        font-weight: 900;
        color: darken($gray, 20%);
    }
    &__bodycopy {
        font-family: 'effra', sans-serif;
        color: darken($gray, 65%);
    }
}
