.reactions {
    padding-bottom: 2%;
    padding-top: 1%;
    h1 {
        color: darken($white, 30%);
        font-size: $header;
    }
    &__container {
        font-size: $bodycopy;
        &__reaction {
            margin-bottom: 0;
            &__herald {
                text-align: center;
                margin: 0;
                font-size: $tertiary-copy;
            }
        }
    }
}
