//declare global variables
$white: #FFFFFF;
$black: #000000;
$gray: #fcfbfe;
$orange: #f47a20;
$light-orange: #faab71;
$dark-gray: #292929;

//font sizing

$header: 1.8rem;
$bodycopy: 1.2rem;
$tertiary-copy: 1.1rem;