.selected-work {
    background-color: lighten($black, 90%);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    &__title {
        color: lighten($black, 50%);
    }
    &__project {
        .image_container {
            width: 300px;
            height: 200px;
            display: flex;
            align-items: center;
            background-color: $dark-gray;
        }
        &__image {
            max-width: 300px;
            max-height: 300px;
        }
        &__info {
            a {
                text-decoration: underline;
                color: inherit;
                display: block;
                margin-bottom: 0.5em;
                &:hover {
                    color: $orange;
                }
            }
        }
    }

    &__wip {
        text-align: center;
        padding-top: 2%;
    }

    .disclaimer {
        color: inherit;
    }
}
