@import "../../_vars.scss";

.main-nav {
    background-color: $black;
    .nav-list {
        float: right;
        a {
            color: $gray;
        }
    }
    &__container {
        padding-top: 1%;
        padding-bottom: 1%;
        img {
            position: relative;
            left: 2em;
            width: 7%;
            height: 7%;
        }
    }
}
