.footer {
    background-color: $black;
    .nav-list {
        a {
            color: $white;
        }
    }
    .info {
        color: $white;
    }
    &__link {
        color: $white;
        text-decoration: underline;
    }
}
